.frame-1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  margin-left: -480.00px;
  margin-right: -480.00px;
  padding: 200px 0px 0px;
  position: relative;
  width: 1400px;
}

.frame-1 .tag-3 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #05213c66;
  border-radius: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.frame-1 .text-wrapper-20 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.80px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.frame-1 .text-wrapper-21 {
  align-self: stretch;
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 83.2px;
  position: relative;
  text-align: center;
}

.frame-1 .text-wrapper-22 {
  align-self: stretch;
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 39.0px;
  position: relative;
  text-align: center;
}
