.billboard-highlight-wrapper {
  align-items: center;
  background-color: #05213c;
  display: inline-flex;
  gap: 99px;
  justify-content: center;
  left: 0;
  padding: 91px 250px;
  position: absolute;
  top: 4900px;
}

.billboard-highlight-wrapper .content-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 61px;
  position: relative;
}

.billboard-highlight-wrapper .text-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 34px;
  position: relative;
}

.billboard-highlight-wrapper .text-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.billboard-highlight-wrapper .exper-i-n-instala-ii {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 72.8px;
  margin-top: -1.00px;
  position: relative;
  width: 741px;
}

.billboard-highlight-wrapper .SC-CON-EST-IMPEX-SRL {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 220px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: relative;
  width: 700px;
}

.billboard-highlight-wrapper .why-choose-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.billboard-highlight-wrapper .highlight-infos {
  height: 48px;
  position: relative;
  width: 599px;
}

.billboard-highlight-wrapper .element-8 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 0;
}

.billboard-highlight-wrapper .check-4 {
  aspect-ratio: 1 !important;
  height: 19px !important;
  position: relative !important;
  width: 19px !important;
}

.billboard-highlight-wrapper .autoriza-ii-complete {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  letter-spacing: 0.80px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 218px;
}

.billboard-highlight-wrapper .text-wrapper-30 {
  font-weight: 700;
  letter-spacing: 0.13px;
}

.billboard-highlight-wrapper .text-wrapper-31 {
  letter-spacing: 0.13px;
}

.billboard-highlight-wrapper .element-9 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 360px;
  position: absolute;
  top: 0;
}

.billboard-highlight-wrapper .div-10 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.80px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.billboard-highlight-wrapper .highlight-infos-2 {
  height: 48px;
  position: relative;
  width: 548px;
}

.billboard-highlight-wrapper .feature-cards-yellow-instance {
  font-size: 26px !important;
  font-weight: 400 !important;
  line-height: 33.8px !important;
}
