.services-top {
  align-items: flex-start;
  display: inline-flex;
  gap: 20px;
  height: 501px;
  justify-content: center;
  left: 250px;
  padding: 1px 0px;
  position: absolute;
  top: 1958px;
}

.services-top .feature-cards-3 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #05213c;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 500px;
  justify-content: center;
  margin-bottom: -1.00px;
  padding: 40px;
  position: relative;
  width: 460px;
}

.services-top .img-wrapper {
  align-items: center;
  aspect-ratio: 1;
  background-color: #05213c1a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.services-top .icon-4 {
  aspect-ratio: 0.75;
  height: 68px;
  object-fit: cover;
  position: relative;
  width: 51px;
}

.services-top .text-9 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  height: 150px;
  justify-content: center;
  position: relative;
}

.services-top .centrale-termice-nc-2 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 33.8px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.services-top .text-wrapper-35 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 82px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: relative;
  text-align: center;
  width: 372px;
}

.services-top .btn-2 {
  all: unset;
  align-items: flex-end;
  background-color: #05213c;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  padding: 18px 36px;
  position: relative;
}

.services-top .servicii-centrale-3 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.28px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.services-top .icon-5 {
  aspect-ratio: 0.96;
  height: 62px;
  object-fit: cover;
  position: relative;
  width: 60px;
}

.services-top .service-icon {
  aspect-ratio: 0.64;
  height: 60.3px;
  object-fit: cover;
  position: relative;
  width: 45.86px;
}
