.billboard {
  height: 708px;
  left: 0;
  position: absolute;
  top: 155px;
  width: 1920px;
}

.billboard .overlap {
  background-image: url(/img/hero-image.png);
  background-size: 100% 100%;
  height: 817px;
}

.billboard .content-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 61px;
  left: 250px;
  position: relative;
  top: 214px;
}

.billboard .text-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 34px;
  position: relative;
}

.billboard .text-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.billboard .instala-ii-gaze-i-2 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 72.8px;
  margin-top: -1.00px;
  position: relative;
  width: 741px;
}

.billboard .autoriza-i-ANRE {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3.00px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.billboard .div-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.billboard .element-10 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.billboard .check-11 {
  aspect-ratio: 1 !important;
  height: 19px !important;
  position: relative !important;
  width: 19px !important;
}

.billboard .text-wrapper-42 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.80px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.billboard .btn-3 {
  all: unset;
  align-items: center;
  background-color: #05213c;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 18px 36px;
  position: relative;
}

.billboard .icon-6 {
  background-image: url(/img/icon-9.png);
  background-size: 100% 100%;
  height: 23.98px;
  position: relative;
  width: 23.98px;
}

.billboard .text-wrapper-43 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.28px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.billboard .btn-4 {
  all: unset;
  align-items: center;
  background-color: #f2b721;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 18px 36px;
  position: relative;
}

.billboard .icon-7 {
  background-image: url(/img/phoneicon-1.svg);
  background-size: 100% 100%;
  height: 23.99px;
  position: relative;
  width: 23.98px;
}

.billboard .element-xxx-xxx {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.28px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}
