.footer {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 200px 262px;
  position: absolute;
  top: 14274px;
  width: 1920px;
}

.footer .links {
  height: 366px;
  position: relative;
  width: 1396px;
}

.footer .element {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  height: 224px;
  left: 0;
  position: absolute;
  top: 0;
}

.footer .conest-logo-full-instance {
  position: relative !important;
}

.footer .design-component-instance-node {
  background-image: url(/img/wordmark-1.svg) !important;
}

.footer .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.footer .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  justify-content: center;
  position: relative;
}

.footer .instala-ii-gaze-i {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 340px;
}

.footer .element-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  height: 315px;
  left: 416px;
  position: absolute;
  top: 0;
}

.footer .text-wrapper {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footer .la-chevron-circle {
  height: 18px;
  position: relative;
  width: 18px;
}

.footer .vector {
  height: 15px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 15px;
}

.footer .text-wrapper-2 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.footer .element-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  height: 315px;
  left: 712px;
  position: absolute;
  top: 0;
}

.footer .text-wrapper-3 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footer .frame-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 293px;
}

.footer .element-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
  width: 100%;
}

.footer .text-wrapper-4 {
  color: #303030;
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.footer .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  height: 366px;
  left: 1081px;
  position: absolute;
  top: 0;
}

.footer .div-2 {
  height: 20px;
  position: relative;
  width: 20px;
}

.footer .img {
  height: 18px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 15px;
}

.footer .vector-2 {
  height: 15px;
  left: 1px;
  position: absolute;
  top: 3px;
  width: 18px;
}

.footer .text-wrapper-5 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.footer .group {
  height: 17px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 17px;
}

.footer .overlap-group {
  height: 17px;
  position: relative;
}

.footer .vector-3 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 16px;
}

.footer .vector-4 {
  height: 8px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 8px;
}

.footer .vector-5 {
  height: 5px;
  left: 9px;
  position: absolute;
  top: 3px;
  width: 5px;
}

.footer .vector-6 {
  height: 18px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 18px;
}

.footer .element-CON-EST-IMPEX {
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 200px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: relative;
  text-align: center;
  width: 1395px;
}
