.footer {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 633px;
  justify-content: center;
  padding: 0px 262px;
  position: relative;
  width: 100%;
}

.footer .links {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-left: -740.00px;
  margin-right: -740.00px;
  position: relative;
  width: 1396px;
}

.footer .element-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 224px;
  position: relative;
}

.footer .conest-logo-full-2 {
  position: relative !important;
}

.footer .conest-logo-full-3 {
  background-image: url(/img/wordmark-2.svg) !important;
  left: -26217px !important;
  top: -11236px !important;
}

.footer .frame-20 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.footer .element-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  justify-content: center;
  position: relative;
}

.footer .instala-ii-gaze-i {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 340px;
}

.footer .element-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 315px;
  position: relative;
  width: 293px;
}

.footer .text-wrapper-32 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footer .la-chevron-circle {
  height: 18px;
  overflow: hidden;
  position: relative;
  width: 18px;
}

.footer .vector {
  height: 15px;
  left: -26608px;
  position: absolute;
  top: -11287px;
  width: 15px;
}

.footer .text-wrapper-33 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.footer .vector-2 {
  height: 15px;
  left: -26608px;
  position: absolute;
  top: -11323px;
  width: 15px;
}

.footer .vector-3 {
  height: 15px;
  left: -26608px;
  position: absolute;
  top: -11359px;
  width: 15px;
}

.footer .vector-4 {
  height: 15px;
  left: -26608px;
  position: absolute;
  top: -11395px;
  width: 15px;
}

.footer .vector-5 {
  height: 15px;
  left: -26608px;
  position: absolute;
  top: -11431px;
  width: 15px;
}

.footer .vector-6 {
  height: 15px;
  left: -26608px;
  position: absolute;
  top: -11467px;
  width: 15px;
}

.footer .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  height: 315px;
  position: relative;
}

.footer .text-wrapper-34 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footer .frame-21 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 293px;
}

.footer .element-8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
  width: 100%;
}

.footer .vector-7 {
  height: 15px;
  left: -26953px;
  position: absolute;
  top: -11287px;
  width: 15px;
}

.footer .text-wrapper-35 {
  color: #303030;
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.footer .vector-8 {
  height: 15px;
  left: -26953px;
  position: absolute;
  top: -11323px;
  width: 15px;
}

.footer .vector-9 {
  height: 15px;
  left: -26953px;
  position: absolute;
  top: -11359px;
  width: 15px;
}

.footer .vector-10 {
  height: 15px;
  left: -26953px;
  position: absolute;
  top: -11395px;
  width: 15px;
}

.footer .element-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  height: 366px;
  position: relative;
}

.footer .vector-wrapper {
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 20px;
}

.footer .vector-11 {
  height: 18px;
  left: -27296px;
  position: absolute;
  top: -11287px;
  width: 15px;
}

.footer .vector-12 {
  height: 15px;
  left: -27298px;
  position: absolute;
  top: -11321px;
  width: 18px;
}

.footer .text-wrapper-36 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.footer .solar-phone-calling {
  height: 20px;
  position: relative;
  width: 20px;
}

.footer .group {
  height: 17px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 17px;
}

.footer .overlap-group {
  height: 17px;
  left: -27299px;
  position: relative;
  top: -11360px;
}

.footer .vector-13 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 16px;
}

.footer .vector-14 {
  height: 8px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 8px;
}

.footer .vector-15 {
  height: 5px;
  left: 9px;
  position: absolute;
  top: 3px;
  width: 5px;
}

.footer .overlap-group-2 {
  height: 17px;
  left: -27299px;
  position: relative;
  top: -11396px;
}

.footer .vector-16 {
  height: 18px;
  left: -27298px;
  position: absolute;
  top: -11431px;
  width: 18px;
}

.footer .vector-17 {
  height: 15px;
  left: -27297px;
  position: absolute;
  top: -11467px;
  width: 15px;
}

.footer .vector-18 {
  height: 15px;
  left: -27297px;
  position: absolute;
  top: -11503px;
  width: 15px;
}

.footer .vector-19 {
  height: 15px;
  left: -27297px;
  position: absolute;
  top: -11539px;
  width: 15px;
}

.footer .element-CON-EST-IMPEX {
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 107px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-left: -739.50px;
  margin-right: -739.50px;
  position: relative;
  text-align: center;
  width: 1395px;
}
