.frame-screen {
  align-items: center;
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.frame-screen .top-bar-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  max-width: 1920px;
  padding: 30px 50px;
  position: relative;
  width: 100%;
}

.frame-screen .conest-logo-full-instance-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.frame-screen .instance-node {
  position: relative !important;
}

.frame-screen .conest-logo-full-4 {
  background-image: url(/img/wordmark-1.svg) !important;
}

.frame-screen .navigation-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 55px;
  position: relative;
}

.frame-screen .text-wrapper-41 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.frame-screen .button-2 {
  align-items: center;
  background-color: #f2b721;
  border-radius: 20px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 18px 36px;
  position: relative;
}

.frame-screen .copy-2 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.28px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.frame-screen .phoneicon-2 {
  height: 23.79px;
  position: relative;
  width: 23.75px;
}

.frame-screen .frame-24 {
  align-items: center;
  align-self: stretch;
  background-image: url(/img/frame-3549-1.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 10px;
  height: 913px;
  justify-content: center;
  padding: 98px 800px 78px 150px;
  position: relative;
  width: 100%;
}

.frame-screen .frame-25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: -125.00px;
  margin-right: -125.00px;
  position: relative;
  width: 900px;
}

.frame-screen .text-wrapper-42 {
  align-self: stretch;
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 72.8px;
  margin-top: -1.00px;
  position: relative;
}

.frame-screen .autoriza-i-ANRE-2 {
  align-self: stretch;
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3.00px;
  line-height: normal;
  position: relative;
}

.frame-screen .text-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.frame-screen .why-choose-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.frame-screen .element-11 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.frame-screen .check-5 {
  aspect-ratio: 1 !important;
  height: 19px !important;
  position: relative !important;
  width: 19px !important;
}

.frame-screen .text-wrapper-43 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.80px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.frame-screen .text-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 34px;
  height: 140px;
  position: relative;
  width: 100%;
}

.frame-screen .CTA-buttons-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  padding: 40px 0px;
  position: relative;
}

.frame-screen .btn-5 {
  all: unset;
  align-items: center;
  background-color: #05213c;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 18px 36px;
  position: relative;
}

.frame-screen .icon-10 {
  background-image: url(/img/icon-10.png);
  background-size: 100% 100%;
  height: 23.98px;
  position: relative;
  width: 23.98px;
}

.frame-screen .text-wrapper-44 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.28px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.frame-screen .button-3 {
  all: unset;
  align-items: center;
  background-color: #f2b721;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 18px 36px;
  position: relative;
}

.frame-screen .frame-26 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 1600px;
  position: relative;
  width: 100%;
}

.frame-screen .tag-4 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #05213c66;
  border-radius: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.frame-screen .montaj-i-service {
  font-family: "Poppins", Helvetica;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.frame-screen .div-6 {
  align-self: stretch;
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 83.2px;
  position: relative;
  text-align: center;
}

.frame-screen .text-wrapper-45 {
  align-self: stretch;
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 39.0px;
  position: relative;
  text-align: center;
}

.frame-screen .frame-27 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: space-between;
  padding: 70px 0px 0px;
  position: relative;
  width: 100%;
}

.frame-screen .frame-28 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.frame-screen .feature-cards-4 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 508px;
  max-width: 450px;
  padding: 60px 40px 50px;
  position: relative;
  width: 450px;
}

.frame-screen .frame-29 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.frame-screen .frame-30 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.frame-screen .frame-icon-3 {
  align-items: center;
  aspect-ratio: 1;
  background-color: #05213c1a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  padding: 30px 0px;
  position: relative;
  width: 100px;
}

.frame-screen .icon-11 {
  aspect-ratio: 0.75;
  height: 68px;
  margin-bottom: -14.00px;
  margin-top: -14.00px;
  object-fit: cover;
  position: relative;
  width: 51px;
}

.frame-screen .frame-31 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.frame-screen .text-wrapper-46 {
  align-self: stretch;
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 33.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.frame-screen .text-wrapper-47 {
  align-self: stretch;
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  position: relative;
  text-align: center;
}

.frame-screen .frame-32 {
  align-items: center;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.frame-screen .frame-33 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.frame-screen .btn-6 {
  all: unset;
  align-items: center;
  background-color: #05213c;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 70px;
  justify-content: center;
  overflow: hidden;
  padding: 30px 36px;
  position: relative;
  width: 294px;
}

.frame-screen .text-wrapper-48 {
  color: #ffffff;
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.28px;
  line-height: normal;
  margin-bottom: -6.00px;
  margin-top: -8.00px;
  position: relative;
  text-align: center;
}

.frame-screen .icon-12 {
  aspect-ratio: 0.96;
  height: 62px;
  margin-bottom: -11.00px;
  margin-top: -11.00px;
  object-fit: cover;
  position: relative;
  width: 60px;
}

.frame-screen .frame-34 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
}

.frame-screen .service-icon-2 {
  aspect-ratio: 0.64;
  height: 60.3px;
  margin-bottom: -10.15px;
  margin-top: -10.15px;
  object-fit: cover;
  position: relative;
  width: 45.87px;
}

.frame-screen .logos {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.frame-screen .frame-35 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  max-width: 1600px;
  padding: 0px 100px 180px;
  position: relative;
  width: 100%;
}

.frame-screen .text-wrapper-49 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.80px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.frame-screen .frame-36 {
  align-items: center;
  align-self: stretch;
  background-image: url(/img/frame-3550-1.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 10px;
  height: 913px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.frame-screen .frame-37 {
  align-items: center;
  box-shadow: 0px 4px 104px #000000f2;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.frame-screen .feature-cards-5 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 508px;
  padding: 60px 40px 50px;
  position: relative;
  width: 524px;
}

.frame-screen .frame-icon-4 {
  align-items: center;
  aspect-ratio: 1;
  border: 1px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  padding: 30px 0px;
  position: relative;
  width: 100px;
}

.frame-screen .icon-13 {
  aspect-ratio: 0.24;
  height: 58px;
  margin-bottom: -9.00px;
  margin-top: -9.00px;
  object-fit: cover;
  position: relative;
  width: 14px;
}

.frame-screen .frame-38 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 294px;
}

.frame-screen .frame-39 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.frame-screen .btn-7 {
  all: unset;
  align-items: center;
  background-color: #f2b721;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  height: 70px;
  justify-content: center;
  overflow: hidden;
  padding: 30px 36px;
  position: relative;
}

.frame-screen .text-wrapper-50 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.28px;
  line-height: normal;
  margin-bottom: -6.00px;
  margin-top: -8.00px;
  position: relative;
  text-align: center;
  width: 222px;
}

.frame-screen .frame-40 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  max-width: 1600px;
  padding: 200px 100px 270px;
  position: relative;
  width: 100%;
}

.frame-screen .tag-5 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #05213c66;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 50px 13px;
  position: relative;
  width: 172px;
}

.frame-screen .text-wrapper-51 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.80px;
  line-height: normal;
  margin-bottom: -32.50px;
  margin-top: -34.50px;
  position: relative;
  width: fit-content;
}

.frame-screen .frame-41 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 40px 40px;
  padding: 80px 0px 0px;
  position: relative;
}

.frame-screen .feature-cards-6 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  gap: 30px;
  max-height: 287px;
  min-height: 287px;
  padding: 40px 50px;
  position: relative;
  width: 680px;
}

.frame-screen .image-3 {
  aspect-ratio: 0.73;
  height: 61px;
  margin-bottom: -10.50px;
  margin-top: -10.50px;
  object-fit: cover;
  position: relative;
  width: 45px;
}

.frame-screen .frame-42 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.frame-screen .text-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.frame-screen .text-wrapper-52 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 33.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-screen .text-wrapper-53 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  position: relative;
  width: 372px;
}

.frame-screen .btn-8 {
  all: unset;
  align-items: flex-end;
  background-color: #05213c;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  padding: 18px 36px;
  position: relative;
}

.frame-screen .image-4 {
  aspect-ratio: 0.98;
  height: 51px;
  margin-bottom: -5.50px;
  margin-top: -5.50px;
  object-fit: cover;
  position: relative;
  width: 51px;
}

.frame-screen .frame-43 {
  align-items: center;
  align-self: stretch;
  background-color: #05213c;
  display: flex;
  gap: 100px;
  height: 1056px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.frame-screen .frame-44 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 643px;
}

.frame-screen .exper-i-n-instala-ii-2 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 72.8px;
  margin-top: -1.00px;
  position: relative;
}

.frame-screen .SC-CON-EST-IMPEX-SRL-2 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 167px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: relative;
}

.frame-screen .frame-45 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 70px;
  position: relative;
}

.frame-screen .autoriza-ii-complete-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  letter-spacing: 0.80px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 218px;
}

.frame-screen .text-wrapper-54 {
  font-weight: 700;
  letter-spacing: 0.13px;
}

.frame-screen .text-wrapper-55 {
  letter-spacing: 0.13px;
}

.frame-screen .div-7 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.80px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.frame-screen .element-12 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: 247px;
}

.frame-screen .feature-cards-yellow-3 {
  font-size: 26px !important;
  font-weight: 400 !important;
  line-height: 33.8px !important;
}

.frame-screen .frame-46 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 200px 0px 0px;
  position: relative;
  width: 1400px;
}

.frame-screen .frame-47 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 110px 0px 0px;
  position: relative;
  width: 1440px;
}

.frame-screen .feature-cards-image-2 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 953px;
  padding: 0px 40px;
  position: relative;
  width: 460px;
}

.frame-screen .frame-icon-5 {
  align-items: center;
  background-color: #05213c1a;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-left: -40.00px;
  margin-right: -40.00px;
  overflow: hidden;
  position: relative;
  width: 460px;
}

.frame-screen .img-2 {
  aspect-ratio: 1.5;
  height: 300px;
  object-fit: cover;
  position: relative;
  width: 460px;
}

.frame-screen .text-box-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  height: 179px;
  margin-left: -14.00px;
  margin-right: -14.00px;
  position: relative;
}

.frame-screen .constan-a-acoperire-3 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 408px;
}

.frame-screen .text-wrapper-56 {
  font-weight: 600;
}

.frame-screen .text-wrapper-57 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
}

.frame-screen .rectangle-2 {
  background-color: #05213c66;
  height: 1px;
  position: relative;
  width: 408px;
}

.frame-screen .mamaia-propriet-i-wrapper {
  height: 398px;
  margin-bottom: -398.00px;
  margin-right: -2.00px;
  position: relative;
  width: 410px;
}

.frame-screen .mamaia-propriet-i-2 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 33.8px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 408px;
}

.frame-screen .text-wrapper-58 {
  font-weight: 700;
}

.frame-screen .text-wrapper-59 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33.8px;
}

.frame-screen .constan-a-acoperire-4 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 49.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 408px;
}

.frame-screen .frame-48 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 200px 0px 180px;
  position: relative;
  width: 1440px;
}

.frame-screen .text-wrapper-60 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 83.2px;
}

.frame-screen .text-wrapper-61 {
  align-self: stretch;
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
  position: relative;
  text-align: center;
}

.frame-screen .cards-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: space-between;
  padding: 80px 0px 0px;
  position: relative;
  width: 100%;
}

.frame-screen .feature-cards-small-2 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #05213c;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 250px;
  justify-content: center;
  position: relative;
  width: 222px;
}

.frame-screen .div-8 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  height: 250px;
  justify-content: center;
  padding: 24px 0px;
  position: relative;
}

.frame-screen .frame-icon-6 {
  align-items: center;
  aspect-ratio: 1;
  background-color: #05213c1a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.frame-screen .icon-14 {
  aspect-ratio: 1;
  height: 50px;
  position: relative;
  width: 50px;
}

.frame-screen .icon-15 {
  aspect-ratio: 0.24;
  height: 58px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: -4px;
  width: 14px;
}

.frame-screen .div-9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 37px;
  position: relative;
  width: 221px;
}

.frame-screen .modernizare-smart-2 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-screen .text-wrapper-62 {
  align-self: stretch;
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 46px;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-bottom: -29.00px;
  position: relative;
  text-align: center;
}

.frame-screen .title-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  padding: 100px 0px 0px;
  position: relative;
  width: 1440px;
}

.frame-screen .text-wrapper-63 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 83.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1181px;
}

.frame-screen .apela-i-acum-pentru-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 1420px;
}

.frame-screen .span-wrapper {
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1175px;
}

.frame-screen .text-wrapper-64 {
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
}

.frame-screen .footer-2 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 633px;
  justify-content: center;
  padding: 0px 262px;
  position: relative;
  width: 100%;
}

.frame-screen .links-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-left: -160.00px;
  margin-right: -160.00px;
  position: relative;
  width: 1396px;
}

.frame-screen .element-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 224px;
  position: relative;
}

.frame-screen .conest-logo-full-5 {
  background-image: url(/img/wordmark-2-2.svg) !important;
}

.frame-screen .frame-49 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.frame-screen .element-14 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  justify-content: center;
  position: relative;
}

.frame-screen .instala-ii-gaze-i-2 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 340px;
}

.frame-screen .element-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 315px;
  position: relative;
  width: 293px;
}

.frame-screen .text-wrapper-65 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-screen .la-chevron-circle-2 {
  height: 18px;
  position: relative;
  width: 18px;
}

.frame-screen .vector-20 {
  height: 15px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 15px;
}

.frame-screen .text-wrapper-66 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.frame-screen .element-16 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  height: 315px;
  position: relative;
}

.frame-screen .text-wrapper-67 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-screen .frame-50 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 293px;
}

.frame-screen .element-17 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
  width: 100%;
}

.frame-screen .text-wrapper-68 {
  color: #303030;
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.frame-screen .element-18 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  height: 366px;
  position: relative;
}

.frame-screen .div-10 {
  height: 20px;
  position: relative;
  width: 20px;
}

.frame-screen .vector-21 {
  height: 18px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 15px;
}

.frame-screen .vector-22 {
  height: 15px;
  left: 1px;
  position: absolute;
  top: 3px;
  width: 18px;
}

.frame-screen .text-wrapper-69 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.frame-screen .overlap-group-wrapper {
  height: 17px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 17px;
}

.frame-screen .overlap-group-3 {
  height: 17px;
  position: relative;
}

.frame-screen .vector-23 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 16px;
}

.frame-screen .vector-24 {
  height: 8px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 8px;
}

.frame-screen .vector-25 {
  height: 5px;
  left: 9px;
  position: absolute;
  top: 3px;
  width: 5px;
}

.frame-screen .vector-26 {
  height: 18px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 18px;
}

.frame-screen .element-CON-EST-IMPEX-2 {
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 107px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-left: -159.50px;
  margin-right: -159.50px;
  position: relative;
  text-align: center;
  width: 1395px;
}
