.our-works {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 200px;
  height: 671px;
  left: 0;
  position: absolute;
  top: 7256px;
}

.our-works .testimonials {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  position: relative;
  width: 1420px;
}

.our-works .title-reviews {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.our-works .title-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
}

.our-works .tag-3 {
  align-items: center;
  border: 1px solid;
  border-color: #05213c33;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 13px;
  position: relative;
  width: 130px;
}

.our-works .text-wrapper-22 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.80px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.our-works .text-wrapper-23 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 83.2px;
  position: relative;
  text-align: center;
  width: 1420px;
}

.our-works .reviews {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.our-works .review {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  position: relative;
}

.our-works .text-wrapper-24 {
  align-self: stretch;
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
}

.our-works .name-reviews {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.our-works .text-wrapper-25 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 33.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.our-works .reviews-2 {
  flex: 0 0 auto;
  position: relative;
}

.our-works .dot-slider {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.our-works .ellipse {
  background-color: #05213c;
  border-radius: 7px;
  height: 14px;
  position: relative;
  width: 14px;
}

.our-works .ellipse-2 {
  background-color: #05213c;
  border-radius: 7px;
  height: 14px;
  opacity: 0.3;
  position: relative;
  width: 14px;
}

.our-works .projects-slider {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  margin-bottom: -985.00px;
  position: relative;
}

.our-works .title-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 809px;
  justify-content: space-around;
  position: relative;
  width: 1420px;
}

.our-works .title-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  position: relative;
}

.our-works .tag-4 {
  align-items: center;
  border: 1px solid;
  border-color: #05213c33;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 13px;
  position: relative;
  width: 146px;
}

.our-works .text-wrapper-26 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 83.2px;
  position: relative;
  text-align: center;
  width: 1420px;
}

.our-works .projects {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 656px;
  justify-content: center;
  position: relative;
  width: 1920px;
}

.our-works .lucrari-noi {
  height: 656px;
  position: relative;
  width: 577px;
}

.our-works .lucrari-noi-2 {
  height: 656px;
  position: relative;
  width: 726px;
}

.our-works .lucrari-noi-3 {
  height: 656px;
  object-fit: cover;
  position: relative;
  width: 500px;
}
