.services {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 1375px;
  justify-content: center;
  left: 0;
  padding: 200px 0px;
  position: absolute;
  top: 9677px;
  width: 1920px;
}

.services .text-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  margin-top: -76.00px;
  position: relative;
}

.services .tag-3 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #05213c66;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 13px;
  position: relative;
  width: 184px;
}

.services .text-wrapper-19 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.80px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.services .urgen-e-gaze-i-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  position: relative;
  width: 1420px;
}

.services .div-6 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 83.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1181px;
}

.services .text-wrapper-20 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 83.2px;
}

.services .para {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 1420px;
}

.services .div-7 {
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1175px;
}

.services .cards {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.services .feature-cards-small {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #05213c;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 250px;
  justify-content: center;
  position: relative;
  width: 222px;
}

.services .div-8 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  height: 250px;
  justify-content: center;
  padding: 24px 0px;
  position: relative;
}

.services .frame-icon {
  align-items: center;
  aspect-ratio: 1;
  background-color: #05213c1a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.services .icon {
  aspect-ratio: 1;
  height: 50px;
  position: relative;
  width: 50px;
}

.services .icon-2 {
  aspect-ratio: 0.24;
  height: 58px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: -4px;
  width: 14px;
}

.services .div-9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 37px;
  position: relative;
  width: 221px;
}

.services .modernizare-smart {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.services .text-wrapper-21 {
  align-self: stretch;
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 46px;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-bottom: -29.00px;
  position: relative;
  text-align: center;
}

.services .title-3 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  margin-bottom: -76.00px;
  position: relative;
  width: 1420px;
}

.services .text-wrapper-22 {
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
}
