.services-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 20px;
  justify-content: center;
  left: 250px;
  padding: 0px 0px 200px;
  position: absolute;
  top: 6672px;
}

.services-wrapper .feature-cards-image-2 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 953px;
  padding: 0px 40px;
  position: relative;
  width: 460px;
}

.services-wrapper .img-wrapper {
  align-items: center;
  background-color: #05213c1a;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-left: -40.00px;
  margin-right: -40.00px;
  overflow: hidden;
  position: relative;
  width: 460px;
}

.services-wrapper .img-4 {
  aspect-ratio: 1.5;
  height: 300px;
  object-fit: cover;
  position: relative;
  width: 460px;
}

.services-wrapper .text-box {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  height: 179px;
  margin-left: -14.00px;
  margin-right: -14.00px;
  position: relative;
}

.services-wrapper .constan-a-acoperire {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 49.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 408px;
}

.services-wrapper .rectangle {
  background-color: #05213c66;
  height: 1px;
  position: relative;
  width: 408px;
}

.services-wrapper .subtext {
  height: 398px;
  margin-bottom: -398.00px;
  margin-right: -2.00px;
  position: relative;
  width: 410px;
}

.services-wrapper .mamaia-propriet-i {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 33.8px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 408px;
}

.services-wrapper .text-wrapper-29 {
  font-weight: 700;
}

.services-wrapper .text-wrapper-30 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33.8px;
}
