.feature-cards {
  align-items: center;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 800px;
  justify-content: center;
  padding: 40px;
  position: relative;
  width: 580px;
}

.feature-cards .text-wrapper-68 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 500;
  height: 80px;
  letter-spacing: 0;
  line-height: 49.4px;
  position: relative;
  text-align: center;
  width: 390px;
}

.feature-cards .type-field {
  height: 95px;
  margin-right: -2.00px;
  position: relative;
  width: 502px;
}

.feature-cards .overlap-group-4 {
  height: 95px;
  position: relative;
  width: 500px;
}

.feature-cards .frame-29 {
  align-items: center;
  border: 1px solid;
  border-color: #05213c80;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  left: 0;
  padding: 40px 20px;
  position: absolute;
  top: 35px;
  width: 500px;
}

.feature-cards .text-wrapper-69 {
  color: #05213c80;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 59px;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-bottom: -38.50px;
  margin-top: -40.50px;
  position: relative;
  width: 460px;
}

.feature-cards .text-wrapper-70 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 0;
  width: 500px;
}

.feature-cards .frame-30 {
  align-items: center;
  border: 1px solid;
  border-color: #05213c80;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  left: 0;
  padding: 40px 40px 40px 20px;
  position: absolute;
  top: 35px;
  width: 500px;
}

.feature-cards .text-wrapper-71 {
  align-self: stretch;
  color: #05213c80;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 59px;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-bottom: -38.50px;
  margin-top: -40.50px;
  position: relative;
}

.feature-cards .frame-31 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  margin-bottom: -20.50px;
  margin-top: -20.50px;
  position: relative;
  width: 100%;
}

.feature-cards .text-wrapper-72 {
  color: #05213c80;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: -1.00px;
  position: relative;
  width: 131px;
}

.feature-cards .arrow-down {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 21px;
  justify-content: flex-end;
  margin-right: -3.00px;
  position: relative;
  width: 312px;
}

.feature-cards .vector-28 {
  height: 9.07px;
  position: relative;
  width: 14.08px;
}

.feature-cards .type-field-2 {
  height: 165px;
  margin-right: -2.00px;
  position: relative;
  width: 502px;
}

.feature-cards .frame-32 {
  align-items: center;
  border: 1px solid;
  border-color: #05213c80;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: center;
  left: 0;
  padding: 40px 20px;
  position: absolute;
  top: 35px;
  width: 500px;
}

.feature-cards .text-wrapper-73 {
  align-self: stretch;
  color: #05213c80;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 89px;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-bottom: -18.50px;
  margin-top: -20.50px;
  position: relative;
}

.feature-cards .btn-7 {
  align-items: flex-end;
  align-self: stretch;
  background-color: #f2b721;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  padding: 18px 36px;
  position: relative;
  width: 100%;
}

.feature-cards .text-wrapper-74 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.28px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}
