.CONEST {
  align-items: start;
  background-color: #f2f2f2;
  display: grid;
  justify-items: center;
  width: 100vw;
}

.CONEST .div-12 {
  background-color: #f2f2f2;
  height: 15250px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.CONEST .brand-logos {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 251px;
  padding: 100px 0px;
  position: absolute;
  top: 972px;
  width: 1419px;
}

.CONEST .tag-8 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #05213c66;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 13px;
  position: relative;
  width: 743px;
}

.CONEST .text-wrapper-60 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.80px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.CONEST .brand-logos-2 {
  flex: 0 0 auto;
  position: relative;
  width: 1419px;
}
