.servicii {
  align-items: start;
  background-color: #fafafa;
  display: grid;
  justify-items: center;
  width: 100vw;
}

.servicii .div-17 {
  background-color: #fafafa;
  height: 12959px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.servicii .overlap {
  height: 634px;
  left: 0;
  position: absolute;
  top: 12325px;
  width: 1920px;
}

.servicii .bottom {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  gap: 883px;
  height: 634px;
  justify-content: space-around;
  left: 0;
  padding: 30px 250px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.servicii .element-CON-EST-IMPEX-3 {
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 574px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1420px;
}
