.conest-logo-full {
  height: 93px;
  width: 220px;
}

.conest-logo-full .flamedrop-wrapper {
  background-image: url(/img/wordmark.svg);
  background-size: 100% 100%;
  height: 35px;
  left: 13px;
  position: relative;
  top: 28px;
  width: 196px;
}

.conest-logo-full .flamedrop {
  height: 26px;
  left: 43px;
  position: absolute;
  top: 5px;
  width: 22px;
}
