.feature-cards-image {
  align-items: center;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 953px;
  padding: 0px 40px;
  position: relative;
  width: 460px;
}

.feature-cards-image .modern-autonomous-wrapper {
  align-items: center;
  background-color: #05213c1a;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-left: -40.00px;
  margin-right: -40.00px;
  overflow: hidden;
  position: relative;
  width: 460px;
}

.feature-cards-image .modern-autonomous {
  aspect-ratio: 1.5;
  height: 300px;
  object-fit: cover;
  position: relative;
  width: 460px;
}

.feature-cards-image .text-13 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  height: 179px;
  margin-left: -14.00px;
  margin-right: -14.00px;
  position: relative;
}

.feature-cards-image .constan-a-acoperire-2 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 408px;
}

.feature-cards-image .text-wrapper-52 {
  font-weight: 600;
}

.feature-cards-image .text-wrapper-53 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
}

.feature-cards-image .rectangle-2 {
  background-color: #05213c66;
  height: 1px;
  position: relative;
  width: 408px;
}

.feature-cards-image .mamaia-propriet-i-wrapper {
  height: 398px;
  margin-bottom: -398.00px;
  margin-right: -2.00px;
  position: relative;
  width: 410px;
}

.feature-cards-image .mamaia-propriet-i-2 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 33.8px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 408px;
}

.feature-cards-image .text-wrapper-54 {
  font-weight: 700;
}

.feature-cards-image .text-wrapper-55 {
  color: #05213c;
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33.8px;
}
