.services {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 1118px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 8087px;
  width: 1920px;
}

.services .text-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  margin-top: -4.50px;
  position: relative;
}

.services .anre-iscir-wrapper {
  align-items: center;
  border: 1px solid;
  border-color: #05213c33;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 13px;
  position: relative;
  width: 184px;
}

.services .anre-iscir {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.80px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.services .title-3 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  position: relative;
  width: 1420px;
}

.services .text-wrapper-56 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 83.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1181px;
}

.services .para-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 1420px;
}

.services .div-10 {
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1175px;
}

.services .cards-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.services .title-4 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  margin-bottom: -4.50px;
  position: relative;
  width: 1420px;
}

.services .text-wrapper-57 {
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 49.4px;
}
