.image-text-wrapper {
  border-radius: 40px;
  height: 831px;
  left: 250px;
  position: absolute;
  top: 3190px;
  width: 1420px;
}

.image-text-wrapper .hero-text-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: -168px;
  width: 1420px;
}

.image-text-wrapper .tag-7 {
  align-items: center;
  border: 1px solid;
  border-color: #05213c33;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 13px;
  position: relative;
  width: 172px;
}

.image-text-wrapper .anre-iscir-3 {
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.80px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.image-text-wrapper .text-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 28px;
  position: relative;
}

.image-text-wrapper .title-6 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  position: relative;
  width: 1420px;
}

.image-text-wrapper .text-wrapper-61 {
  align-self: stretch;
  color: #303030;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 83.2px;
  margin-top: -1.00px;
  position: relative;
}

.image-text-wrapper .para-3 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 1420px;
}

.image-text-wrapper .cu-o-experien-de-2 {
  align-self: stretch;
  color: #5a5a5a;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 571px;
  letter-spacing: 0;
  line-height: 39.0px;
  margin-top: -1.00px;
  position: relative;
}

.image-text-wrapper .big-image-2 {
  height: 810px;
  left: -250px;
  position: absolute;
  top: -1058px;
  width: 1920px;
}
